[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sudhanshusr
[access "refs/for/refs/*"]
	read = group user/sudhanshusr
	push = group user/sudhanshusr
	label-Code-Review = -2..+2 group user/sudhanshusr
	label-Verified = -1..+1 group user/sudhanshusr
	rebase = group user/sudhanshusr
	removeReviewer = group user/sudhanshusr
	submit = group user/sudhanshusr
[access "refs/heads/*"]
	read = group user/sudhanshusr
	create = group user/sudhanshusr
	push = +force group user/sudhanshusr
	pushMerge = group user/sudhanshusr
[access "refs/tags/*"]
	push = +force group user/sudhanshusr
	pushTag = group user/sudhanshusr
	pushSignedTag = group user/sudhanshusr
